<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--favicon icon-->
    <link
      rel="icon"
      href="assets/img/favicon.png"
      type="image/png"
      sizes="16x16"
    />

    <!--title-->
    <title>Dwarkadish - Home</title>

    <!--build:css-->
    <link rel="stylesheet" href="assets/css/main.css" />

    <style>
      .section-lg {
        padding-top: 6rem;
      }
    </style>
    <!-- endbuild -->
  </head>

  <body>
    <!--preloader start-->
    <div id="preloader">
      <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!--preloader end-->
    <!--header section start-->
    <header class="header position-relative z-9">
      <nav
        class="navbar navbar-expand-lg navbar-light navbar-theme-white fixed-top headroom"
      >
        <div class="container position-relative">
          <a class="navbar-brand mr-lg-3" href="#">
            <img
              style="width: 150px !important; height: 60px"
              class="navbar-brand-dark"
              src="/images/logo.png"
              alt="menuimage"
            />
            <img
              class="navbar-brand-light"
              src="/images/logo.png"
              alt="menuimage"
            />
          </a>
          <div class="navbar-collapse collapse" id="navbar-default-primary">
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="#">
                    <img src="/images/logo.png" alt="menuimage" />
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <i
                    class="fas fa-times"
                    data-toggle="collapse"
                    role="button"
                    data-target="#navbar-default-primary"
                    aria-controls="navbar-default-primary"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  ></i>
                </div>
              </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#reviews">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="d-flex align-items-center">
            <button
              class="navbar-toggler ml-2"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-default-primary"
              aria-controls="navbar-default-primary"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <!--header section end-->

    <div class="main">
      <!--hero section start-->
      <section
        class="section section-lg section-header bg-soft"
        style="background: url('assets/img/globe.png') no-repeat right bottom"
      >
        <div class="container">
          <div
            class="row align-items-center justify-content-lg-between justify-content-sm-center pt-lg-6 pt-md-6"
          >
            <div class="col-md-6 col-lg-6 mb-4 mb-md-4 mb-lg-0">
              <div class="hero-slider-content">
                <h1 class="display-2" style="font-size: 50px">
                  Welcome to <br />
                  Dwarkadish Tradings
                </h1>
                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Pariatur, recusandae necessitatibus! At cumque omnis similique
                  libero.
                </p>
                <a href="#about" class="btn btn-secondary mt-3">Learn More</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-5">
              <div
                class="card bg-primary position-relative z-2 shadow-lg fancy-radius p-3"
              >
                <div class="dot-shape-top position-absolute">
                  <img
                    src="assets/img/color-shape.svg"
                    alt="dot"
                    class="img-fluid"
                  />
                </div>
                <img
                  class="fancy-radius img-fluid"
                  src="assets/img/about-us.jpg"
                  alt="modern desk"
                />
                <div class="dot-shape position-absolute bottom-0">
                  <img src="assets/img/color-shape2.svg" alt="dot" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--hero section end-->

      <!--promo section start-->
      <section class="section section-sm">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-4 mb-lg-0">
              <div class="single-fact p-3 text-center">
                <h3 class="title display-1">50K</h3>
                <p class="mb-0">
                  People are already reading this book and improving!
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-4 mb-lg-0">
              <div class="single-fact p-3 text-center">
                <h3 class="title display-1">96%</h3>
                <p class="mb-0">
                  Satisfaction rate comes from our awesome customers.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-4 mb-lg-0">
              <div class="single-fact p-3 text-center">
                <h3 class="title display-1">4.9</h3>
                <p class="mb-0">
                  Average customer ratings we have got all over internet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--promo section end-->

      <!--about section start-->
      <section id="about" class="section section-lg bg-soft">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-heading text-center mb-5">
                <h1>About Us</h1>
                <p class="lead">
                  Dynamically pursue reliable convergence rather than 24/7
                </p>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-7 col-md-10 order-2 order-lg-1">
              <div class="video-promo-content">
                <h2>Total Solutions for Your Business Here</h2>
                <p class="lead">
                  Interactively develop timely niche markets before extensive
                  imperatives. Professionally repurpose strategies.
                </p>
                <ul class="list-unstyled tech-feature-list">
                  <li class="py-1">
                    <span class="icon icon-xs mr-2 text-secondary">
                      <i class="ti-control-forward"></i></span
                    ><strong>Creative</strong> Websites Design
                  </li>
                  <li class="py-1">
                    <span class="icon icon-xs mr-2 text-secondary">
                      <i class="ti-control-forward"></i></span
                    ><strong>Accounting</strong> Procedures Guidebook
                  </li>
                  <li class="py-1">
                    <span class="icon icon-xs mr-2 text-secondary">
                      <i class="ti-control-forward"></i></span
                    ><strong>Cost</strong> Accounting Fundamentals
                  </li>
                  <li class="py-1">
                    <span class="icon icon-xs mr-2 text-secondary">
                      <i class="ti-control-forward"></i></span
                    ><strong>SEO</strong> Optimization Services
                  </li>
                </ul>
                <div class="action-btns mt-4">
                  <a href="#" class="btn btn-primary mr-2">View Services</a>
                  <a href="#" class="btn btn-outline-primary">Contact Us</a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-7 order-1 order-lg-2">
              <div class="image-box fancy-radius p-2 bg-primary-alt">
                <img
                  class="fancy-radius img-fluid"
                  src="assets/img/download.png"
                  alt="modern desk"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--about section end-->

      <!--features section start-->

      <!--features section end-->

      <!--blog section start-->
      <section id="services" class="section section-lg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-heading text-center mb-5">
                <h1>Services We Offer</h1>
                <p class="lead">
                  Dynamically pursue reliable convergence rather than 24/7
                  process improvements develop end-to-end customer service.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
              <div class="card bg-white border-variant-soft shadow-soft">
                <div class="blog-img position-relative">
                  <img
                    src="/images/service1.jpg"
                    class="card-img-top rounded-top"
                    alt="themetags office"
                  />
                </div>
                <div class="card-body">
                  <h3 class="h5 card-title mt-3">
                    <a href="#">Real Estate Buisness</a>
                  </h3>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a
                    href="services-details.html"
                    class="link-with-icon text-default font-small font-weight-bold"
                    target="_blank"
                    >Go to website<span>
                      <i class="fas fa-angle-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
              <div class="card bg-white border-variant-soft shadow-soft">
                <div class="blog-img position-relative">
                  <img
                    src="images/service2.jpg"
                    class="card-img-top rounded-top"
                    alt="themetags office"
                  />
                </div>
                <div class="card-body">
                  <h3 class="h5 card-title mt-3">
                    <a href="#">Global Garner</a>
                  </h3>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a
                    href="services-details.html"
                    class="link-with-icon text-default font-small font-weight-bold"
                    target="_blank"
                    >Go to website<span>
                      <i class="fas fa-angle-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
              <div class="card bg-white border-variant-soft shadow-soft">
                <div class="blog-img position-relative">
                  <img
                    src="images/service3.jpg"
                    class="card-img-top rounded-top"
                    alt="themetags office"
                  />
                </div>
                <div class="card-body">
                  <h3 class="h5 card-title mt-3">
                    <a href="#">Reiki Healing</a>
                  </h3>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a
                    href="services-details.html"
                    class="link-with-icon text-default font-small font-weight-bold"
                    target="_blank"
                    >Go to website<span>
                      <i class="fas fa-angle-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--blog section end-->

      <!--testimonial section start-->
      <section id="reviews" class="section section-lg bg-soft">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
              <div class="section-heading mb-5 text-center">
                <h1>What Clients Say About Us</h1>
                <p class="lead">
                  Rapidiously morph transparent internal or "organic" sources
                  whereas resource sucking e-business innovate compelling
                  internal.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="owl-carousel owl-theme client-testimonial custom-dot">
                <div class="item">
                  <div
                    class="testimonial-single shadow-sm bg-white rounded-custom p-5"
                  >
                    <div class="quotation mb-4">
                      <span class="icon icon-md icon-lg icon-light"
                        ><i class="fas fa-quote-left"></i
                      ></span>
                    </div>
                    <blockquote class="blockquote">
                      Assertively procrastinate distributed relationships
                      whereas equity invested intellectual capital everything
                      energistically underwhelm proactive.
                    </blockquote>
                    <div
                      class="d-flex justify-content-md-between justify-content-lg-between align-items-center pt-3"
                    >
                      <div class="media align-items-center">
                        <img
                          src="assets/img/team/team-4.jpg"
                          alt="team"
                          class="avatar avatar-sm mr-3"
                        />
                        <div class="media-body">
                          <h6 class="mb-0">Kyan Boards</h6>
                          <small>CEO, ThemeTags</small>
                        </div>
                      </div>
                      <div class="client-ratting d-none d-md-block d-lg-block">
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                        </ul>
                        <span class="font-weight-bold small"
                          >5.0
                          <span class="font-weight-lighter"
                            >Out of 5</span
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div
                    class="testimonial-single shadow-sm bg-white rounded-custom p-5"
                  >
                    <div class="quotation mb-4">
                      <span class="icon icon-md icon-lg icon-light"
                        ><i class="fas fa-quote-left"></i
                      ></span>
                    </div>
                    <blockquote class="blockquote">
                      Intrinsicly facilitate functional imperatives without
                      next-generation services. Compellingly revolutionize
                      worldwide users enterprise best practices.
                    </blockquote>
                    <div
                      class="d-flex justify-content-md-between justify-content-lg-between align-items-center pt-3"
                    >
                      <div class="media align-items-center">
                        <img
                          src="assets/img/team/team-1.jpg"
                          alt="team"
                          class="avatar avatar-sm mr-3"
                        />
                        <div class="media-body">
                          <h6 class="mb-0">Pirtle Karol</h6>
                          <small>Team Leader, ThemeTags</small>
                        </div>
                      </div>
                      <div class="client-ratting d-none d-md-block d-lg-block">
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                        </ul>
                        <span class="font-weight-bold small"
                          >5.0
                          <span class="font-weight-lighter"
                            >Out of 5</span
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div
                    class="testimonial-single shadow-sm bg-white rounded-custom p-5"
                  >
                    <div class="quotation mb-4">
                      <span class="icon icon-md icon-lg icon-light"
                        ><i class="fas fa-quote-left"></i
                      ></span>
                    </div>
                    <blockquote class="blockquote">
                      Assertively procrastinate distributed relationships
                      whereas equity invested intellectual capital everything
                      energistically underwhelm proactive.
                    </blockquote>
                    <div
                      class="d-flex justify-content-md-between justify-content-lg-between align-items-center pt-3"
                    >
                      <div class="media align-items-center">
                        <img
                          src="assets/img/team/team-2.jpg"
                          alt="team"
                          class="avatar avatar-sm mr-3"
                        />
                        <div class="media-body">
                          <h6 class="mb-0">Kyan Boards</h6>
                          <small>CEO, ThemeTags</small>
                        </div>
                      </div>
                      <div class="client-ratting d-none d-md-block d-lg-block">
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                        </ul>
                        <span class="font-weight-bold small"
                          >5.0
                          <span class="font-weight-lighter"
                            >Out of 5</span
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div
                    class="testimonial-single shadow-sm bg-white rounded-custom p-5"
                  >
                    <div class="quotation mb-4">
                      <span class="icon icon-md icon-lg icon-light"
                        ><i class="fas fa-quote-left"></i
                      ></span>
                    </div>
                    <blockquote class="blockquote">
                      Intrinsicly facilitate functional imperatives without
                      next-generation services. Compellingly revolutionize
                      worldwide users enterprise best practices.
                    </blockquote>
                    <div
                      class="d-flex justify-content-md-between justify-content-lg-between align-items-center pt-3"
                    >
                      <div class="media align-items-center">
                        <img
                          src="assets/img/team/team-6.jpg"
                          alt="team"
                          class="avatar avatar-sm mr-3"
                        />
                        <div class="media-body">
                          <h6 class="mb-0">Pirtle Karol</h6>
                          <small>Team Leader, ThemeTags</small>
                        </div>
                      </div>
                      <div class="client-ratting d-none d-md-block d-lg-block">
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                          <li class="list-inline-item mr-0">
                            <span class="icon icon-xs font-small text-warning"
                              ><i class="fas fa-star ratting-color"></i
                            ></span>
                          </li>
                        </ul>
                        <span class="font-weight-bold small"
                          >5.0
                          <span class="font-weight-lighter"
                            >Out of 5</span
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--testimonial section end-->

      <!--team section start-->
      <section id="team" class="section section-lg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-heading text-center mb-5">
                <h1>Our Team</h1>
                <p class="lead">
                  <!-- Dynamically pursue reliable convergence rather than 24/7
                  process improvements develop end-to-end customer service. -->
                  We are always there to support you.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 mb-md-4 mb-lg-0 mb-4">
              <div class="profile-card">
                <div
                  class="card bg-soft shadow-sm animate-hover border-variant-soft"
                >
                  <div
                    class="profile-image-small bg-white shadow-inset shadow border border-light rounded-circle p-1 mt-5 mb-4"
                  >
                    <img
                      src="/images/team1.jpg"
                      class="card-img-top rounded-circle"
                      alt="Christopher Avatar"
                    />
                  </div>
                  <div class="card-body text-center px-5 pb-5 pt-0">
                    <h3 class="h5 mb-2">BHUVNESH ITKAN</h3>
                    <span class="h6 font-weight-normal text-gray mb-3"
                      >Vice president & Director</span
                    >
                    <ul
                      class="list-unstyled d-flex my-3 justify-content-center"
                    >
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="facebook social link"
                          class="icon icon-xs icon-facebook mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-facebook-f"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="twitter social link"
                          class="icon icon-xs icon-twitter mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-twitter"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="slack social link"
                          class="icon icon-xs icon-slack mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-instagram"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/in/bhuvnesh-itkan-b048975a"
                          target="_blank"
                          aria-label="dribbble social link"
                          class="icon icon-xs icon-linkedin mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-linkedin"></span>
                        </a>
                      </li>
                    </ul>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-md-4 mb-lg-0 mb-4">
              <div class="profile-card">
                <div
                  class="card bg-soft shadow-sm animate-hover border-variant-soft"
                >
                  <div
                    class="profile-image-small bg-white shadow-inset shadow border border-light rounded-circle p-1 mt-5 mb-4"
                  >
                    <img
                      src="images/team2.jpeg"
                      class="card-img-top rounded-circle"
                      alt="Christopher Avatar"
                    />
                  </div>
                  <div class="card-body text-center px-5 pb-5 pt-0">
                    <h3 class="h5 mb-2">ITKAN BHAVYA</h3>
                    <span class="h6 font-weight-normal text-gray mb-3"
                      >Advisor</span
                    >
                    <ul
                      class="list-unstyled d-flex my-3 justify-content-center"
                    >
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="facebook social link"
                          class="icon icon-xs icon-facebook mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-facebook-f"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="twitter social link"
                          class="icon icon-xs icon-twitter mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-twitter"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="slack social link"
                          class="icon icon-xs icon-slack mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-instagram"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://linktr.ee/itkan_bhavya?fbclid=PAAaZUCbxtqsG2nIjCLrUWuSqKQkSvvk-EyJCP9u_b5t1x-0DuZA_PcAQJhQs"
                          target="_blank"
                          aria-label="dribbble social link"
                          class="icon icon-xs icon-linkedin mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                        >
                          <span class="fab fa-linkedin"></span>
                        </a>
                      </li>
                    </ul>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-12 col-md-6 col-lg-4 mb-md-4 mb-lg-0 mb-4">
              <div class="profile-card">
                <div
                  class="card bg-soft shadow-sm animate-hover border-variant-soft"
                >
                  <div
                    class="profile-image-small bg-white shadow-inset shadow border border-light rounded-circle p-1 mt-5 mb-4"
                  >
                    <img
                      src="assets/img/team/team-4.jpg"
                      class="card-img-top rounded-circle"
                      alt="Christopher Avatar"
                    />
                  </div>
                  <div class="card-body text-center px-5 pb-5 pt-0">
                    <h3 class="h5 mb-2">Maria J. Go</h3>
                    <span class="h6 font-weight-normal text-gray mb-3"
                      >Developer</span
                    >
                    <ul
                      class="list-unstyled d-flex my-3 justify-content-center"
                    >
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="facebook social link"
                          class="icon icon-xs icon-facebook mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          data-original-title="50k Like"
                        >
                          <span class="fab fa-facebook-f"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="twitter social link"
                          class="icon icon-xs icon-twitter mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          data-original-title="40k Followers"
                        >
                          <span class="fab fa-twitter"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="slack social link"
                          class="icon icon-xs icon-slack mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          data-original-title="25k Subscribe"
                        >
                          <span class="fab fa-youtube"></span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          aria-label="dribbble social link"
                          class="icon icon-xs icon-dribbble mr-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          data-original-title="2k Project"
                        >
                          <span class="fab fa-dribbble"></span>
                        </a>
                      </li>
                    </ul>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!--team section end-->

      <!--contact section start-->
      <section id="contact" class="section section-lg bg-soft">
        <div class="container contact">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-heading text-center mb-5">
                <h1>Contact Us</h1>
                <p class="lead">
                  <!-- Dynamically pursue reliable convergence rather than 24/7
                  process improvements develop end-to-end customer service. -->
                  We are always there to support you.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 pb-3 message-box d-none">
            <div class="alert alert-danger"></div>
          </div>
          <div class="row justify-content-around">
            <div class="col-md-6">
              <div
                class="contact-us-form rounded p-5"
                style="background-color: white"
              >
                <h4>Ready to get started?</h4>
                <form
                  action="#"
                  method="POST"
                  id="contactForm"
                  class="contact-us-form mt-4"
                >
                  <div class="form-row">
                    <div class="col-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          placeholder="Enter name"
                          required="required"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          placeholder="Enter email"
                          required="required"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <textarea
                          name="message"
                          id="message"
                          class="form-control"
                          rows="7"
                          cols="25"
                          placeholder="Message"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-sm-12 mt-3">
                      <button
                        type="submit"
                        class="btn btn-secondary"
                        id="btnContactUs"
                      >
                        Send Message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5">
              <div class="contact-us-content">
                <h2>Looking for a excellent Business idea?</h2>
                <p class="lead">
                  Seamlessly deliver pandemic e-services and next-generation
                  initiatives.
                </p>

                <a href="#" class="btn btn-outline-secondary align-items-center"
                  >Get Directions <span class="ti-arrow-right pl-2"></span
                ></a>

                <hr class="my-5" />

                <h5>Our Headquarters</h5>
                <address>
                  100 Yellow House, Mn <br />
                  Factory, United State, 13420
                </address>
                <br />
                <span>Phone: +1234567890123</span> <br />
                <span
                  >Email:
                  <a href="mailto:email@yourdomain.com" class="link-color"
                    >email@yourdomain.com</a
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--contact section end-->
    </div>

    <!--footer section start-->
    <footer class="footer-wrap">
      <div class="footer footer-top section section-md bg-primary text-white">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-4 mb-4">
              <a class="footer-brand mr-lg-5 d-flex" href="index.html">
                <img src="images/wlogo.png" class="mr-3" alt="Footer logo" />
              </a>
              <p class="my-4">
                Interactively unleash interactive best practices before
                technically sound portals.
              </p>
              <div class="btn-wrapper mt-4">
                <button
                  class="btn btn-icon-only btn-pill btn-twitter mr-2 icon icon-xs icon-shape"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="40k Followers"
                >
                  <span aria-hidden="true" class="fab fa-twitter"></span>
                </button>
                <button
                  class="btn btn-icon-only btn-pill btn-facebook mr-2 icon icon-xs icon-shape"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="50k Like"
                >
                  <span aria-hidden="true" class="fab fa-facebook-f"></span>
                </button>
                <button
                  class="btn btn-icon-only btn-pill btn-youtube mr-2 icon icon-xs icon-shape"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="25k Subscribe"
                >
                  <span aria-hidden="true" class="fab fa-youtube"></span>
                </button>
                <button
                  class="btn btn-icon-only btn-pill btn-dribbble icon icon-xs icon-shape"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="2k Project"
                >
                  <span aria-hidden="true" class="fab fa-dribbble"></span>
                </button>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <h5 class="mb-4">Company</h5>
              <ul class="links-vertical">
                <li><a target="_blank" href="#">About Us</a></li>
                <li><a target="_blank" href="#">Careers</a></li>
                <li><a target="_blank" href="#">Customers</a></li>
                <li><a target="_blank" href="#">Community</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <h5 class="mb-4">Resources</h5>
              <ul class="links-vertical">
                <li><a target="_blank" href="#">Help</a></li>
                <li><a target="_blank" href="#">Events</a></li>
                <li><a target="_blank" href="#">Live sessions</a></li>
                <li><a target="_blank" href="#">Open sources</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-2">
              <h5 class="mb-4">Support</h5>
              <ul class="links-vertical">
                <li><a target="_blank" href="#">Help</a></li>
                <li><a target="_blank" href="#">Tech Support</a></li>
                <li><a target="_blank" href="#">Network Status</a></li>
                <li><a target="_blank" href="#">Contact Support</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="footer py-3 bg-primary text-white border-top border-variant-default"
      >
        <div class="container">
          <div class="row">
            <div class="col p-3">
              <div
                class="d-flex text-center justify-content-center align-items-center"
              >
                <p class="copyright pb-0 mb-0">
                  Copyrights © 2021. All rights reserved by
                  <a
                    href="https://themeforest.net/user/themetags"
                    target="_blank"
                    >ThemeTags</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--footer section end-->
    <!--scroll bottom to top button start-->
    <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fas fa-hand-point-up"></span>
    </button>
    <!--scroll bottom to top button end-->
    <!--build:js-->
    <script src="assets/js/vendors/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendors/popper.min.js"></script>
    <script src="assets/js/vendors/bootstrap.min.js"></script>
    <script src="assets/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendors/jquery.easing.min.js"></script>
    <script src="assets/js/vendors/mixitup.min.js"></script>
    <script src="assets/js/vendors/headroom.min.js"></script>
    <script src="assets/js/vendors/smooth-scroll.min.js"></script>
    <script src="assets/js/vendors/wow.min.js"></script>
    <script src="assets/js/vendors/owl.carousel.min.js"></script>
    <script src="assets/js/vendors/jquery.waypoints.min.js"></script>
    <!--<script src="assets/js/vendors/countUp.min.js"></script>-->
    <script src="assets/js/vendors/jquery.countdown.min.js"></script>
    <script src="assets/js/vendors/validator.min.js"></script>
    <script src="assets/js/app.js"></script>
    <!--endbuild-->
  </body>
</html>
